<!DOCTYPE html>
<html lang="en" xmlns:th="http:thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Edit name:</label>
    <input type="text" th:field="*{fullName}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" >Name error</div>
    <br/>
    <label for="birth">Edit birth year:</label>
    <input type="text" th:field="*{birthYear}" id="birth"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birth error</div>
    <br/>
    <input type="submit" value="Update"/>
</form>
</body>
</html>